<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>MONEYXCHANGE Components</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
  <style>
    body {
      background: #eee;
    }
  </style>
</head>

<body>
  <div id="app" class="container">
    <section class="section">
      <h1 class="title">MONEYXCHANGE Vue Components</h1>
      {{content}}
    </section>
  </div>
  <script>
    window.addEventListener('load', () => {
      window.vm = new Vue({
        el: '#app',
        components: Components,
        store: Store,
        data: {
          content: 'hola'
        }
      })
    })
  </script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="./dist/app.js"></script>
</body>

</html>